* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
form {
  text-align: center;
  border: 2px solid black;
  width: 200px;
  height: 150px;
}
